<div class="control-group">
  <div class="controls">
    <%= f.text_field :name, :class => 'text_field' %>
    <%= f.text_field :value, :class => 'text_field' %>
    <%= link_to_remove_fields "Remove", f %>
  </div>
</div>
